{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %}

{% block content %}

  <div class="container mt-4" style="max-width:960px">
    <form action="{% url 'login' %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      {% if error %}
        <p id="error-message">Invalid username or password</p>
      {% endif %}
      <input
        class="btn btn-primary"
        name="submit"
        type="submit"
        value="Log in"
      />
    </div>
  </form>

{% endblock %}
