<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="noindex" />

    {# The title of the page. #}
    <title>{% block title %}{% endblock %}</title>

    {% block stylesheets %}
      {# Include custom stylesheets. #}
    {% endblock %}

  </head>

  <body>
    {# The main content of the page. #}
    {% block content %}{% endblock %}
  </body>

  {% if DEBUG_IS_TRUE %}
    {# Must initialzie the React Refresh runtime. #}
    <script type="module">
      import RefreshRuntime from 'http://localhost:5173/@react-refresh'
      RefreshRuntime.injectIntoGlobalHook(window)
      window.$RefreshReg$ = () => {}
      window.$RefreshSig$ = () => (type) => type
      window.__vite_plugin_react_preamble_installed__ = true
    </script>
  {% endif %}

  {% block javascript %}
    {# Include custom JavaScript files. #}
  {% endblock %}

</html>
