<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="noindex" />

    {# The title of the page. #}
    <title>{% block title %}{% endblock %}</title>

    {% block stylesheets %}
      {# Include custom stylesheets. #}
    {% endblock %}

  </head>

  <body>
    {# The main content of the page. #}
    {% block content %}{% endblock %}
  </body>

</html>
