{% extends 'dashboard/base.html' %}
{% load vite_tags %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block dashboard_content %}

  <div
    data-two-factor-auth="true"
    data-two-factor-auth-link="{{ two_factor_auth_url }}"
    data-verify-email="true"
    data-verify-email-link="{{ verify_email_url }}"
    id="dashboard-modal"
  >
  </div>

{% endblock %}

{% block javascript %}
  {% vite_assets 'assets/javascript/dashboard-modal/main.tsx' as scripts %}
  {% for file in scripts %}
    <script type="module" src="{{ file }}"></script>
  {% endfor %}
{% endblock %}
