{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block dashboard_content %}

  <div class="bg-dark bg-opacity-50 modal" id="prompt-window" style="display:none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2>Enable Two-Factor Authentication</h2>
          <button class="btn-close close-modal-button"></button>
        </div>
        <div class="modal-body">
          <p>You have not enabled two-factor authentication. It is strongly
             recommended you do this now.</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary close-modal-button">Cancel</button>
          <a class="btn btn-primary" href="{% url 'two-factor-auth' %}">Enable Now</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block javascript %}
  <script src="{% static 'js/modal.js' %}"></script>
{% endblock %}
